
body {
	--div-width: 30%;
	margin: 0px;
}

#body{
	margin: 0px;
	position: relative;
}

canvas {
	width: 100%;
	height: 100%;
	display: block;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	border: rgba(33, 36, 34, 0.1) solid 10px;
	border-radius: 10px;
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border: rgba(33, 36, 34, 0.1) solid 10px;
	border-radius: 10px;
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	border: rgba(33, 36, 34, 0.1) solid 10px;
	border-radius: 10px;
	background: #555;
}

#chatBox {
	visibility: hidden;
	background: rgba(24, 24, 24, 0.2);
	border: 1px solid rgba(94, 94, 94, 0.2);

	overflow: auto;

	padding: 10px;
	margin: 0px;
	width: 30%;
	height: 50%;
	max-height: 600px;
	min-height: 50px;
	min-width: 200px;
	max-width: 400px;

	z-index: 2;
	position: absolute;
	left: 0;
	bottom: 40px;

}

#textBox {
	background: rgba(24, 24, 24, 0.2);
	border: 1px solid rgba(94, 94, 94, 0.2);
	overflow: auto;
	color: white;

	padding: 10px;

	margin: 0px;

	height: 100%;
	width: 30%;
	min-width: 200px;
	max-width: 400px;
	max-height: 40px;
	min-height: 20px;

	display: inline-block;
}
#messageText{
	width: 100%;
	float:left;
	margin: auto;
}
#messageText{
	width: 80%;
	float:left;
	word-wrap: break-word;
	color: white;
	margin: auto;
}
#messageTime{
	width: auto;
	color: rgba(20, 20, 20, 0.2);
	display: block;
	float: right;
}

#flockers{
	visibility: hidden;
	background: rgba(24, 24, 24, 0.2);
	border: 1px solid rgba(94, 94, 94, 0.2);

	overflow: auto;

	padding: 10px;
	margin: 0px;
	width: 30%;
	height: 30%;
	max-height: 400px;
	min-height: 50px;
	min-width: 200px;
	max-width: 400px;

	position: absolute;

	z-index: 2;
	left: 0;
	top: 0%;
}

#sendButton{
	background: rgba(24, 24, 24, 0.2);
	border: 1px solid rgba(94, 94, 94, 0.2);
	color: white;

	margin: 0px;

	height: 100%;
	width: 10%;
	max-width: 80px;
	min-width: 40px;
	max-height: 40px;
	min-height: 20px;

	display: inline-block;
	text-align: center;
}

.parent {
	position: absolute;
	width: 100%;
	height: 100%;
	max-height: 40px;
	min-height: 20px;

	bottom: 1px;
}
#chatHeader{
	visibility: hidden;
	background: rgba(24, 24, 24, 0.2);
	border: 1px solid rgba(94, 94, 94, 0.2);
	color: white;
	overflow: clip;

	padding: 10px;
	margin: 0px;
	width: 30%;
	height: 30%;
	max-height: 40px;
	min-height: 20px;
	min-width: 200px;
	max-width: 400px;

	z-index: 3;
	position: absolute;
	left: 0px;
	bottom: 0;
}
#headerSpacing{
	padding: 10px;
	margin: 0px;
	width: 100%;
	height: 100%;
	max-height: 40px;
	min-height: 20px;
	min-width: 200px;
	max-width: 400px;
}
#minmize{
	background: rgba(24, 24, 24, 0);
	border: 0px;
	position: absolute;
	right: 10px;
	top: 0px;
}
#maximize{
	background: rgba(24, 24, 24, 0);
	border: 0px;
	position: absolute;
	right: 10px;
	top: 0px;
	visibility: hidden;
	font-size: large;
}
#sendLine{
	visibility: hidden;
}
#frontLogo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#blockButton{
	display: block;
	background: rgba(24, 24, 24, 0.2);
	border: 1px solid rgba(94, 94, 94, 0.2);
	height: auto;
	font-size: 15px;
	text-align: center;
	float: right;
}
