body {
	margin: 0px;
}

canvas {
	width: 100%;
	height: 100%;
	display: block;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	border: rgba(33, 36, 34, 0.1) solid 10px;
	border-radius: 10px;
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border: rgba(33, 36, 34, 0.1) solid 10px;
	border-radius: 10px;
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	border: rgba(33, 36, 34, 0.1) solid 10px;
	border-radius: 10px;
	background: #555;
}

#chatBox {
	background: rgba(24, 24, 24, 0.2);
	border: 1px solid rgba(94, 94, 94, 0.2);

	overflow: auto;

	padding: 10px;
	margin: 0px;
	width: 30%;
	height: 50%;

	z-index: 2;
	position: absolute;
	left: 0px;
	bottom: 5%;

}

#TextBox {
	background: rgba(24, 24, 24, 0.2);
	border: 1px solid rgba(94, 94, 94, 0.2);
	overflow: auto;
	color: white;
	padding: 10px;
	margin: 0px;
	width: 30%;
	height: 2%;

	z-index: 3;
	position: absolute;
	left: 0px;
	bottom: 0px;
}

#chat{
	word-wrap: break-word;
	color: white;
}

#flockers{
	background: rgba(24, 24, 24, 0.2);
	border: 1px solid rgba(94, 94, 94, 0.2);

	overflow: auto;

	padding: 10px;
	margin: 0px;
	width: 30%;
	height: 20%;

	z-index: 2;
	position: absolute;
	left: 0px;
	top: 0%;
}